@font-face {
    font-family: 'SourceCodePro';
    src: url('../assets/fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('../assets/fonts/SourceCodePro-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
}