@use '../../styles/variables' as *;
@use "../../styles/mixins" as *;

.skills {
    @include section-setup-mobile;

    &__header {
        font-weight: 300;
        letter-spacing: .125rem;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__card {
        background-color: $gunmetal;
        font-weight: 300;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border-radius: 20px;
        width: 35%;
        transition: all .2s ease-in-out;

        &--logos {
            height: 3rem;
            width: 3rem;
            margin: .5rem;
            filter: grayscale(1);
        }
        
        &:hover {
            transform: scale(1.1);

            & .skills__card--logos {
                filter: none;
            }
        }
    }
}