@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.contact {
    @include section-setup-mobile;
    padding: 0 1rem;

    @include tablet {
        flex-direction: row;
        align-items: flex-start;
        font-size: 1.125rem;
        padding: 0 2.25rem;
    }

    &__text {
        width: 70%;
        padding-right: 2.25rem;
    }

    &__header {
        @include section-header;
        text-align: center;

        @include tablet {
            font-size: 2.25rem;
            margin-bottom: 1.5rem;
            text-align: left;
        }
    }

    p {
        margin: 1rem 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 90%;

        &--input {
            background-color: transparent;
            color: #FFF;
            border: none;
            border-bottom: 1px solid $verdigris;
            padding: 0.5rem;
            margin: 1rem 0;
            position: relative;
            transition: all .2s ease-in;

            &:focus {
                outline: none;
                box-shadow: 0 0 6px $mint;
                border: 1px solid $verdigris;
            }
        }

        &--submit-div {
            @include tablet {
                display: flex;
                justify-content: flex-end;
            }
        }

        &--submit {
            background-color: $verdigris;
            font-weight: 500;
            margin: 1rem 0;
            padding: 1rem;
            width: 100%;
            color: #FFF;
            border: none;
            border-radius: 20px;
            transition: all .2s ease-in-out;

            @include tablet {
                font-size: .875rem;
                width: 50%;
            }

            &:hover {
                background-color: $mint;
            }
        }
    }
}