@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem;

  @include tablet {
    padding: 1rem 2rem;
  }

  @include desktop {
    padding: 2rem 5rem;
  }

  &__logo {
    height: 3rem;
  }

  & a {
    color: #ffffff;
    text-decoration: none;
  }

  &__ul {
    list-style: none;
    display: flex;
    font-size: 1.125rem;

    @media (max-width: 767px) {
      background-color: rgba($color: $gunmetal, $alpha: 0.1);
      backdrop-filter: blur(8px);
      position: fixed;
      inset: 0 0 0 20%;
      flex-direction: column;
      font-size: 2.25rem;
      font-weight: 300;
      justify-content: center;
      gap: 3rem;

      transform: translateX(100%);
      transition: transform 0.3s ease-out;
    }
  }

  &__li {
    @include tablet {
      margin-inline-start: 2rem;
    }
  }

  &__button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    background: url("../../assets/icons/menu_FILL0_wght400_GRAD0_opsz48.svg");
    background-size: contain;
    width: 2rem;
    aspect-ratio: 1;
    border: none;

    @include tablet {
        display: none;
    }
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.open-menu {
    transform: translateX(0%);
    transition: transform 0.3s ease-out;
}
